{% extends "network/layout.html" %} {% load static %} {% block body %}
<div class="container">
	<h3>{{username}}</h3>
	<div class="row mb-4">
		<div class="col">Following: {{following|length}}</div>
		<div class="col">Followers: {{followers|length}}</div>
	</div>
	{% if user.username != username %}
	<form action="{% url 'follow' username %}" method="post">
		{% csrf_token %}
		<button class="btn btn-primary btn-sm mb-3" type="submit">
			{% if isFollowing %}Unfollow{% else %}Follow{% endif %}
		</button>
	</form>
	{% endif %} {% for post in posts %}
	<div class="border rounded p-4 mb-4 post">
		<h3>{{post.title}}</h3>
		{% if user.username == post.user %}
		<button class="btn btn-sm btn-primary edit" data-id="{{post.id}}">
			Edit
		</button>
		{% endif %}
		<div class="content">{{post.content}}</div>
		<div class="text-muted">{{post.created_at}}</div>
		<div>
			{% if user.is_authenticated %}<button
				class="like mr-2 btn btn-sm btn-info"
				data-id="{{post.id}}"
			>
				{% if post.isLiked %}Unlike{% else %}Like{% endif %}</button
			>{% endif %} ❤️
			<span class="likesCount"> {{post.likes|length}} </span>
		</div>
		<div class="text-muted">
			by <span class="badge badge-light">{{post.user}}</span>
		</div>
	</div>
	{% endfor %} {% if posts|length %}
	<nav aria-label="Page navigation mt-4">
		<ul class="pagination">
			<li class="page-item {% if not hasPrevious %} disabled{% endif %}">
				<a class="page-link" href="{% url 'index' %}?page={{ page|add:'-1'}}"
					>Previous</a
				>
			</li>
			{% for p in pageRange %}
			<li class="page-item {% if page == p %} active{% endif %}">
				<a class="page-link" href="{% url 'index' %}?page={{ p }}">{{ p }}</a>
			</li>
			{% endfor %}
			<li class="page-item {% if not hasNext %} disabled{% endif %}">
				<a class="page-link" href="{% url 'index' %}?page={{ page|add:1 }}"
					>Next</a
				>
			</li>
		</ul>
	</nav>
	{% endif %}
</div>
{% endblock %} {% block script%}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
